body {
  margin: 60px auto; 
  width: 70%;
} 
h1 {
  font-size: 3em;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(36, 3, 126);
}
h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    color: rgb(59, 36, 122);
  }
p{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  font-size: 1.5em; 
  line-height: 1.4em; 
  color: rgb(74, 78, 78);
} 
footer {
  border-top: 1px solid #d5d5d5;
  font-size: .8em; 
}
nav ul, footer ul {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif'; 
  padding: 0px;
  list-style: none;
  font-weight: bold;
}
nav ul li, footer ul li {
  display: inline;
  margin-right: 50px; 
}
a{
  text-decoration: none; 
  color: rgb(155,108,243);
} 
a:hover {
  text-decoration: underline;
  color: deeppink;
}
ul.posts {
  font-size: 1.5em;
  background: #3399ff;
  padding: 20px}

ul.posts li { 
  list-style: none;
  background: #cce5ff;
  margin: 5px;
}
